body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

div {
    width: 90%;
    max-width: 36rem;
    margin: 1.25rem auto;
    padding: 1.25rem;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
}

form label, form input {
    display: block;
    width: 100%;
}

form button {
    grid-column: span 2;
    padding: 0.625rem;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 0.625rem;
    border: 1px solid #ddd;
}

table th {
    background-color: #f8f8f8;
}

@media (max-width: 37.5em) {
    form {
        grid-template-columns: 1fr;
    }

    form button {
        grid-column: span 1;
    }
}

@media (min-width: 37.5em) and (max-width: 75em) {
    div {
        width: 95%;
    }
}

@media (min-width: 75em) {
    div {
        width: 80%;
    }
}